<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乡音</title>
</head>
<body>
   <p> 乡音</p>
    <p>纵使是蔡文姬遗下的胡笳，纵使是王昭君遗下的琵琶，纵使是阿炳遗下的二胡，纵使是马思聪遗下的提琴，都不能奏出这样的美韵，都不能如此激荡人心！</p>
    <p>纵使是周璇的金嗓子，纵使是刘三姐的歌喉，纵使是红线女的红腔，纵使是毛阿敏的好声音，都不能唱出这样的美音，都不能如此震撼人心！</p>
    <p>因为，这是乡音！</p>
    <p>乡音，质朴无华的乡音，比春坡夭桃更鲜丽，比碧池红荷更清秀，比东篱金菊更研雅，比雪崖丹梅更高洁。</p>
    <p>乡音，深深植根于乡土的乡音，飘溢著泥土的芬馨，抖擞著稻穂的沉实，茁壮著春韭的纯真，圆熟著金瓜的厚重。</p>
    <p>孕育蕉雨椰风的东南亚，展现雄伟壮观的大峡谷，摇曳灯红酒绿的芭堤雅，交织水市河街的威尼斯，掘起巍峨铁塔的法兰西，演绎雾都风情的英伦，誉称阳光地带的洛杉矶，在游子的心目中，都比不上流淌著乡音的故土亲切。</p>
    <p>独特的故土，流淌著独特的乡音！</p>
    <p>异地相逢，一声乡音，就使陌生路人，顿成亲热的乡亲。</p>
    <p>游子回乡，刚一踏入魂萦梦绕的故土，迎面传来亲切动听的乡音，淙淙流进游子心田的乡音，即使游子激动不已，心灵沐浴著甘泉般的清怡。</p>
    <p>纵使走遍天涯海角，纵使侧身大千一隅，都忘不了乡音！忘不了汹涌著乡情的乡音，更忘不了荡漾著乡音的乡土！</p> 
    <script type="text/javascript" src="/assets/main.js"></script>
</body>
</html>
