
doctype html
html
    head
        base(href="/")
        meta(charshet="UTF-8")
        meta(name="renderer", content="webkit")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        title webpack html example
        link(rel="stylesheet", href="/build/styles/index.css")
        script(src='http://s4.qhimg.com/static/b01b66ca0c8af058/angular.jquery.js')
    body
        p welcome to use webpack !
        .imglist
            img(id="img1" width="50px", height="50px", src="#")
            img(id="img2" width="50px", height="50px", src="#")
            img(id="img3" width="50px", height="50px", src="#")
        .imgtest

